.cart-snask {
  background: rgba(255, 0, 0, 0.3) !important;
}

.cart-snask .Cart-delete {
  display: inline-block !important;
}

.cart-snask .Cart-rowDeleteButton {
  animation: snaskblock-remove-icon 1s ease-out;
  animation-iteration-count: infinite;
}


.snaskblock-challenge {
  background: red;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  line-height: 1.4;
  margin-top: 20px;
  padding: 16px;
  text-align: center;
}

.snaskblock-challenge strong {
  display: block;
  padding-top: 8px;
}

.snaskblock-clicker {
  cursor: pointer;
  display: block;
}

.snaskblock-clicker-ok {
  display: none;
}

