
/* Hopscotch overrides */

div.hopscotch-bubble .hopscotch-bubble-close,
div.hopscotch-bubble .hopscotch-bubble-number {
  background-image: url('https://raw.githubusercontent.com/linkedin/hopscotch/master/dist/img/sprite-green.png');
}

.tour-cta {
  padding-top: 10px;
}

.tour-cta a {

}

.tour-cta a:first-child {
  background: green;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 9px;
}

.tour-cta a:last-child {
  font-size: 12px;
  color: black;
}
